 <!-- start of feature-list -->
<div class="container feature-list pad-top-md pad-bottom-md">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="img-holder"><%= image_tag('icon03.png') %></div>
      <h3 class="subheading">House Cleaning</h3>
      <p>Residential cleaning that can be customized to your liking.</p>
      <a href="https://bennett.joinmajor.com/services/5/bookings/new" class="btn btn-success btn-wide btn-bennett mt-3">Book A Service</a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="img-holder"><%= image_tag('icon03.png') %></div>
      <h3 class="subheading">Junk Removal</h3>
      <p>Full-service junk removal from anywhere in your home, our team is on it.</p>
      <a href="https://bennett.joinmajor.com/services/5/bookings/new" class="btn btn-success btn-wide btn-bennett mt-3">Book A Service</a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="img-holder"><%= image_tag('icon03.png') %></div>
      <h3 class="subheading">Gutter Cleaning</h3>
      <p>One-time or recurring cleanings available to keep your gutters clean and roof protected.</p>
      <a href="https://bennett.joinmajor.com/services/5/bookings/new" class="btn btn-success btn-wide btn-bennett mt-3">Book A Service</a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="img-holder"><%= image_tag('icon03.png') %></div>
      <h3 class="subheading">Power Washing</h3>
      <p>Bring your home back to life with a good cleaning. Our powerwashing service is great right before the summer.</p>
      <a href="https://bennett.joinmajor.com/services/5/bookings/new" class="btn btn-success btn-wide btn-bennett mt-3">Book A Service</a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="img-holder"><%= image_tag('icon03.png') %></div>
      <h3 class="subheading">Window Cleaning</h3>
      <p>Cleaning your windows youself is very dangerous and having a professional do it is HIGHLY recommended.</p>
      <a href="https://bennett.joinmajor.com/services/5/bookings/new" class="btn btn-success btn-wide btn-bennett mt-3">Book A Service</a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="img-holder"><%= image_tag('icon03.png') %></div>
      <h3 class="subheading">Residential Sanitization</h3>
      <p>A new and very popular service we have created to protect families by sanitizing homes from the COVID-19 Virus.</p>
      <a href="https://bennett.joinmajor.com/services/5/bookings/new" class="btn btn-success btn-wide btn-bennett mt-3">Book A Service</a>
    </div>
  </div>
</div>
<!-- end of feature-list -->
