<!-- header of the page start here -->
<header id="" class="bg-mobile-landing">

  <div class="container">
    <div class="row">
      <!-- LOGO -->
      <div class="col-12 p-3">
        <div class="logo-mobile-landing"><a href="#"> <%= image_tag url_for('logo-blue.png'), class:"img-responsive"%></a></div>
      </div>
    </div>
  </div>

  <!-- HEADER IMG -->
  <div class="header-img-mobile-landing"><%= image_tag url_for('family-time-2.png'), class:"img-responsive"%></div>

  <div class="container">
    <div class="row">  
      <!-- Header TEXT -->
      <div class="col-xs-12 col-md-9">
        <!-- start of caption -->
        <div class="col-12 caption-mobile-landing pt-5">
          <h1 class="">Clean Home, Happy Home.</h1>
          <p class="mt-3">You deserve to come home to a clean house not another job. Join the 900+ neighbors in MA and choose to have more time to do the things that matter to you.</p>
          <a href="https://bennett-home-services-inc.joinmajor.com" class="btn btn-lg btn-bennett btn-wide">Get Instant Quote
          </a>
        </div><!-- end of caption -->
        <div class="pad-top-lg hidden-xs"></div>
      </div>
    </div>
  </div>
</header><!-- header of the page ends here -->
<!-- header of the page end here -->

<div class="features-list-mobile-landing p-3 mt-3">
  <ul>
    <li>
      <div class="features-list-mobile-landing-list-item-icon">
        <svg width="20" height="20" fill="rgba(20, 169, 109, 1)" viewBox="0 0 512 512"><path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/></svg>
      </div>
      <div class="features-list-mobile-landing-list-item-text">$1M insurance policy</div>
    </li>
    <li>
      <div class="features-list-mobile-landing-list-item-icon">
        <svg width="20" height="20" fill="rgba(20, 169, 109, 1)" viewBox="0 0 512 512"><path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/></svg>
      </div>
      <div class="features-list-mobile-landing-list-item-text">All Necessary PPE for COVID-19</div>
    </li>
    <li>
      <div class="features-list-mobile-landing-list-item-icon">
        <svg width="20" height="20" fill="rgba(20, 169, 109, 1)" viewBox="0 0 512 512"><path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/></svg>
      </div>
      <div class="features-list-mobile-landing-list-item-text">Same trained & vetted pros</div>
    </li>
    <li>
      <div class="features-list-mobile-landing-list-item-icon">
        <svg width="20" height="20" fill="rgba(20, 169, 109, 1)" viewBox="0 0 512 512"><path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/></svg>
      </div>
      <div class="features-list-mobile-landing-list-item-text">Tailored service & scheduling</div>
    </li>
    <li>
      <div class="features-list-mobile-landing-list-item-icon">
        <svg width="20" height="20" fill="rgba(20, 169, 109, 1)" viewBox="0 0 512 512"><path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/></svg>
      </div>
      <div class="features-list-mobile-landing-list-item-text">Online payments</div>
    </li>
  </ul>
</div>



<section class="service-section text-center p-2 p-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-12">Trusted By</div>
      <div class="col-4 col-lg-4"><%= image_tag url_for('bbblogo.png'), class:"img-responsive sponsor-logo-mobile-landing" %></div>
      <div class="col-4 col-lg-4"><%= image_tag url_for('googlelocal.png'), class:"img-responsive sponsor-logo-mobile-landing" %></div>
      <div class="col-4 col-lg-4"><%= image_tag url_for('thumblogo.png'), class:"img-responsive sponsor-logo-mobile-landing" %></div>
    </div>
  </div>
</section><!-- end of service-section -->


<!-- start of video-section -->
<div class="">
  <div class="row no-gutters">
    <div class="col-12 col-lg-6">
      <div class="p-5 p-lg-10">
        
        <h3 class="">You Deserve Better</h3>
        <p>Our mission at Bennett is to help our neighbors live a better, healthier, and happier life at home and beyond. We understand that life can get crazy at times and the last thing we want to do is come home to a dirty and unorganized home.</p>

        <p>Our exceptional recurring cleaning services are designed to help you with this. Everyone has a different lifestyle and schedule, so our services are designed to uniquely and specifically meet your needs.</p>
        
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <%= image_tag url_for('bennett-car.jpg'), class:"img-responsive" %>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col col-12 col-lg-6">
      <%= image_tag url_for('cleaning-lady.jpg'), class:"img-responsive" %>
    </div>
    <div class="col col-12 col-lg-6">
      <div class="p-5 p-lg-10">
        <h3 class="">What We Do For You</h3>
        <p>Recurring Cleaning</p>
        <ul>
          <li>Vacuum hardwood and carpets</li>
          <li>Sanitize kitchen & bathrooms</li>
          <li>Dust all accessible surfaces</li>
          <li>Clean mirrors and glass surfaces</li>
          <li>Dust baseboards, trimwork, outlets, and lightswitches</li>
          <li>Mop kitchen and bathroom floors</li>
          <li>Change bed sheets and pillow cases</li>
          <li>Make the beds</li>
          <li>Lightly organize rooms</li>
        </ul>
          <p>Upon Request</p>
        <ul>
          <li>Inside fridge cleaning</li>
          <li>Inside oven cleaning</li>
          <li>Exterior windows</li>
          <li>Load laundry to wash or dry</li>
        </ul>
        <a href="https://bennett-home-services-inc.joinmajor.com" class="mt-3 btn btn-lg btn-bennett btn-wide">Get Started</a>
      </div>
    </div>
  </div>
</div>
<!-- end of video-section -->


<div class="row text-center p-5">
  <div class="col-12 col-md-3">
    <%= image_tag url_for('cleaning-girl.png'), class:"img-responsive" %>
  </div>
  <div class="col-12 col-md-9">
    <h1 class="mb-5 heading">Have any questions?</h1>
    <a href="tel:8573018618" class="mb-3 btn btn-lg btn-bennett">Call Bennett Home Services</a>
    <a href="https://bennett-home-services-inc.joinmajor.com" class="btn btn-lg btn-bennett btn-wide">Get Instant Quote</a>

    <p class="mt-4"><i>Bennett Home Services has total insurance coverage by NEXT Insurance Inc. Our cleaners are all experienced and trained professionals. All of our services are backed by our Happiness Guarantee.</i></p>
  </div>
</div>

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <p>Copyright © Bennett Home Services Inc. 2020, All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>



