<div id="container">


  <%= render 'header' %>
  <%= render 'sponsors' %>
  <%= render 'about-us-intro' %>
  <%= render 'services' %>
  <%= render 'contact-us' %>
  <%= render 'footer' %>


</div>


  <script src="js/jquery.js"></script>
  <script src="js/plugins.js" defer></script>
  <script src="js/jquery.main.js" defer></script>





